# Vision Primary Service
[Unit]
Description=FRC 1073 Vision Primary Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=team1073
WorkingDirectory=/home/team1073/vision20/scripts
ExecStart=/home/team1073/vision20/scripts/nano 10.10.73.10

[Install]
WantedBy=multi-user.target
